In [1]:
import numpy as np
import pandas as pd
import xlrd as xl
from xlutils.copy import copy

In [2]:
dfrr_norm = pd.read_excel("AWS2018_Norm_Jan.xls")
dfrr = pd.read_excel("AWS2018_Jan.xlsx", usecols="C,D")
dfrr_def = pd.read_excel("AWS2018_Default_Jan.xlsx", usecols="C")

In [3]:
dfrr.tail()

               Date Time    RR
4407 2018-01-31 23:10:00  32.2
4408 2018-01-31 23:20:00  32.2
4409 2018-01-31 23:30:00  32.2
4410 2018-01-31 23:40:00  32.2
4411 2018-01-31 23:50:00  32.2

In [4]:
dfrr_norm.tail()

     id_record ID Station           Date Time    RR
4459       NaN        NaN 2018-01-31 23:10:00  32.2
4460       NaN        NaN 2018-01-31 23:20:00  32.2
4461       NaN        NaN 2018-01-31 23:30:00  32.2
4462       NaN        NaN 2018-01-31 23:40:00  32.2
4463       NaN        NaN 2018-01-31 23:50:00  32.2

In [5]:
dfrr_norm = dfrr_norm.drop("RR", axis=1)

In [6]:
dfrr_norm.head()

                     id_record ID Station           Date Time
0  STA2079 2018-01-01 00:00:00    STA2079 2018-01-01 00:00:00
1  STA2079 2018-01-01 00:10:00    STA2079 2018-01-01 00:10:00
2  STA2079 2018-01-01 00:20:00    STA2079 2018-01-01 00:20:00
3  STA2079 2018-01-01 00:30:00    STA2079 2018-01-01 00:30:00
4  STA2079 2018-01-01 00:40:00    STA2079 2018-01-01 00:40:00

In [7]:
workbook = xl.open_workbook('AWS2018_Norm_Jan.xls')
sheet = workbook.sheet_by_index(0)
wb = copy(workbook)
sheet = wb.get_sheet(0)

for i in range(0,len(dfrr)):
    for j in range(0,len(dfrr_def)):
        if(dfrr["Date Time"][i] == dfrr_def["Date Time"][j]):
            add=str(dfrr["RR"][i])
            sheet.write(j+1,3,add)
            break
wb.save("AWS2018_Norm_Jan.xls")

In [8]:
path="AWS2018_Norm_Jan.xls"
wb=xl.open_workbook(path)
sheet=wb.sheet_by_index(0)
colnum=3
for column in range(colnum,sheet.ncols):
    for row in range (sheet.nrows):
        if(sheet.cell(row,column).value==""):
            print(dfrr_norm["Date Time"][row-1])

2018-01-02 01:50:00
2018-01-02 03:00:00
2018-01-02 23:20:00
2018-01-06 04:10:00
2018-01-06 12:10:00
2018-01-06 12:20:00
2018-01-06 12:30:00
2018-01-07 04:20:00
2018-01-08 07:10:00
2018-01-08 12:10:00
2018-01-11 12:10:00
2018-01-12 00:20:00
2018-01-12 04:10:00
2018-01-12 04:20:00
2018-01-12 04:30:00
2018-01-12 04:40:00
2018-01-12 04:50:00
2018-01-12 05:00:00
2018-01-12 05:10:00
2018-01-14 12:10:00
2018-01-15 04:50:00
2018-01-19 01:50:00
2018-01-19 03:10:00
2018-01-19 04:10:00
2018-01-19 04:20:00
2018-01-19 04:30:00
2018-01-19 04:40:00
2018-01-19 04:50:00
2018-01-19 05:00:00
2018-01-19 05:10:00
2018-01-24 02:30:00
2018-01-24 04:00:00
2018-01-24 04:10:00
2018-01-24 05:00:00
2018-01-24 17:00:00
2018-01-24 17:10:00
2018-01-26 06:30:00
2018-01-27 14:40:00
2018-01-28 09:50:00
2018-01-28 12:10:00
2018-01-28 19:20:00
2018-01-29 05:40:00
2018-01-29 06:40:00
2018-01-30 05:20:00
2018-01-30 06:50:00
2018-01-30 14:10:00
2018-01-30 14:20:00
2018-01-30 15:00:00
2018-01-30 15:10:00
2018-01-31 03:00:00
2018-01-31 13:30:00
2018-01-31 18:00:00

In [13]:
"""
x=[]
y=[]
path="AWS2018_Norm_Jan.xls"
wb=xl.open_workbook(path)
sheet=wb.sheet_by_index(0)
colnum=3
for column in range(colnum,sheet.ncols):
    for row in range (sheet.nrows):
        if(sheet.cell(row,column).value==""):
            temp=dfrr_norm["Date Time"][row]
        if((dfrr_norm["Date Time"][row]==dfrr_norm["Date Time"][row+1])):
            time=+1
            print(time)
            time=0
        
            values_y=dfrr_norm["Date Time"][row-1].day
            values_x=dfrr_norm["Date Time"][row-1].hour
            x.append(values_x)
            y.append(values_y)
    
plt.rcParams["figure.figsize"] = (30,5)
plt.bar(x,y)"""

'\nx=[]\ny=[]\npath="AWS2018_Norm_Jan.xls"\nwb=xl.open_workbook(path)\nsheet=wb.sheet_by_index(0)\ncolnum=3\nfor column in range(colnum,sheet.ncols):\n    for row in range (sheet.nrows):\n        if(sheet.cell(row,column).value==""):\n            temp=dfrr_norm["Date Time"][row]\n        if((dfrr_norm["Date Time"][row]==dfrr_norm["Date Time"][row+1])):\n            time=+1\n            print(time)\n            time=0\n        \n            values_y=dfrr_norm["Date Time"][row-1].day\n            values_x=dfrr_norm["Date Time"][row-1].hour\n            x.append(values_x)\n            y.append(values_y)\n    \nplt.rcParams["figure.figsize"] = (30,5)\nplt.bar(x,y)'

In [ ]:
"""
if(dfrr["Date Time"][i]==dfrr_def["Date Time"][j]):
    # Nama Kolom di Excel
    sheet.write(i,2,"Date Time")
    sheet.write(i,3,"RR")
if(dfrr["Date Time"][i] in dfrr_def["Date Time"].unique()):
    sheet.write(i+1,2,dfrr["Date Time"][i].strftime("%d/%m/%Y %H:%M"))
    sheet.write(i+1,3,dfrr["RR"][i])
            
df_norm = df_norm.drop("Date Time", axis=1)
df_norm = df_norm.drop("RR", axis=1)
df_norm.to_excel("test_norm.xls",index=False)
"""